---------DOMAIN------------ {
  encode gzip
  handle /qaqdmin {
    reverse_proxy app-server:2333
  }

  handle /proxy/* {
    rewrite * /
    reverse_proxy app-server:2333
  }

  handle /api/v2 {
    reverse_proxy app-server:2333 {
      header_up Host {host}
      header_up X-Real-IP {remote}
    }
  }

  handle /feed {
    rewrite * /
    reverse_proxy app-server:2333
  }

  handle /atom.xml {
    rewrite * /
    reverse_proxy app-server:2333
  }

  handle /sitemap {
    rewrite * /
    reverse_proxy app-server:2333
  }
  handle /render/* {
    rewrite * /
    reverse_proxy app-server:2333 {
      header_up Host {host}
      header_up X-Real-IP {remote}
    }
  }

  handle /api/v2/* {
    reverse_proxy app-server:2333 {
      header_up Host {host}
      header_up X-Real-IP {remote}
    }
  }

  handle /socket.io/* {
    uri strip_prefix /path
    rewrite * /socket.io{path}
    reverse_proxy app-server:2333 {
      header_up Host {host}
      header_up X-Real-IP {remote}
    }
  }


  handle /* {
    reverse_proxy app-kami:2323
  }
  tls --------EMAIL------------
}